body{
	background-color: #232323;
	font-family: 'Orbitron', sans-serif;
}

.container{
	background-color: #333333;
    max-width: 60%;
    
    margin: 0 auto; /*Centre div*/
    padding: 5% 2% 5% 5%;
    border-radius: 5px;
}

.button{
	background-color: white;
    width: 20%;
    height: 50%;
    margin: 0.66%;
    float: left;
    padding: 7% 1% 7% 1%;
    text-align: center;
    font-size: 30px;
    border-radius: 4px;
}

.result-box{
	background-color: gray;
	width: 92%;
	height: 60px;
	margin-left: .5%;
	margin-bottom: 1%;
	border-radius: 5px;
}

.result-output{
	text-align: right;
	position: relative;
	bottom: -12px;
	right: 15px;
	font-size: 30px;
}